{% extends "index.html" %}

{% block content %}

<div class="container mt-4 mb-4">
  <div class="">
    <h4>Detalhes</h4>

    <table class="table table-bordered mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID do equipamento</th>
          <th scope="col"> Equipamentos do {{checklist}}</th>
        </tr>
      </thead>
      <tbody>
        {% for detalhe in detalhes %}
        <tr>
          <th class="col-1" scope="row"> {{detalhe.id}} </th>
          <td> {{detalhe.equipamentoseguraca}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5></h5>
  </div>
</div>

{% endblock %}